@if (movie) {
<div class="movie-detail-container">
  <img [src]="movie.poster" alt="{{ movie.title }}" class="movie-poster">
  <div class="movie-details">
    <h2>{{ movie.title }} ({{ movie.year }})</h2>
    <p><strong>Rated:</strong> {{ movie.rated }}</p>
    <p><strong>Released:</strong> {{ movie.released }}</p>

    <h3>Plot</h3>
    <p>{{ movie.plot }}</p>

    <h3>Ratings</h3>
    <ul>
      @for(rating of movie.ratings; track rating.source) {
      <li>{{ rating.source }}: {{ rating.value }}</li>
      } @empty {
      <li>No data...</li>
      }
    </ul>
  </div>
</div>

<hr />
<h1>Comentarios de la aplicacion</h1>
<div class="col-md-3">
  <input [(ngModel)]="nuevoComentario" type="text" class="form-control" />
  <button (click)="agregarComentario()" type="button" class="btn btn-primary">Agregar comentario</button>
</div>
<div class="col-md-12">

  <table class="table">
    <thead>
      <th>Fecha</th>
      <th>Usuario</th>
      <th>Comentario</th>
      <th></th>
    </thead>
    <tbody>
      @for(item of comentarios; track item.id; let idx = $index) {
      <tr>
        <td>{{item.fechaCreacion | date: 'dd-MM-yyyy hh:mm:ss'}} </td>
        <td>{{item.nombreUsuario}}</td>
        <td>{{item.comentario}}</td>
        <td>
          @if(item.puedeEditar) {
          <i style="color: blue;" class="bi bi-pencil-square" (click)="iniciarEdicion(idx)"></i>
          <i style="color: red;" class="bi bi-trash3" (click)="eliminarComentario(idx)"></i>

          @if(comentarioEditadoIndex >= 0) {
            <input [(ngModel)]="comentarioEditado" type="text" class="form-control" />
            <button (click)="guardarEdicion(item.id)" type="button" class="btn btn-primary">Actualizar</button>
          }
          }
        </td>
      </tr>
      }
    </tbody>
  </table>

</div>
}
